.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 30px;
}

.pictureRowItem {
  width: 30%;
}

.pictureRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.pictureSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

button {
  display: inline-block;
  padding: 14px 40px;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 16px;
  background-color: #8B2F1D; /* Dyp varm rustrød */
  color: #fff;
  border: 2px solid #8B2F1D;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #C1543E; /* Lysere, varm rust/kobber ved hover */
  border-color: #C1543E;
}
