.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 30px;
}

.pictureRowItem {
  width: 30%;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.pictureRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.pictureSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programSection{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dressCodePicture {
  width: 50%;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.dressCodeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 30px;
  @media only screen and (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.dressCodeGrid img {
  width: 100%;
  height: auto;
}

.dressCodeGrid h2 {
  margin: 0;
}

.kontaktInfo {
  display:flex;
  flex-direction: row;
  gap: 80px;

  h3 {
    margin: 0;
  }
  @media only screen and (max-width: 550px) {
    flex-direction: column;
    gap: 20px;
  }
}

.planeSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

button {
  display: inline-block;
  padding: 14px 40px;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 16px;
  background-color: transparent; /* Ingen fyll */
  color: #a15b4c; /* Tekstfarge samme som outline */
  border: 2px solid #a15b4c;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #a15b4c; /* Fyllfarge ved hover */
  color: #fff; /* Tekstfarge ved hover */
}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  border-bottom: 1px solid #ddd; /* Tynn, diskret linje mellom rader */
  padding: 8px;
  text-align: left;
}

th {
  font-weight: 600;
}

