:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  background-color: #F8F6F3;
}

.headerImage {
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;

  @media only screen and (max-width: 550px) {
    justify-content: center;
  }
}

nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #333333;
  padding: 0 10px;
  font-family: "Lato", sans-serif;

  a {
    text-decoration: none;
    width: fit-content;
    color: #333333;
  }

  a:hover {
    text-decoration: underline;
  }
  a.active {
    border-bottom: 1px solid #000000;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: center;
  p {
    display: flex;
    font-size: 14px;
  }
}

.nameStyle {
  font-size: 36px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a15b4c;
  line-height: 1.2;
  margin-top: 40px;
  width: fit-content;
}

.logoSvg {
  width: 400px;
  height: auto;
  display: block;

  @media only screen and (max-width: 500px) {
    width: 280px;
  }
}

.dateStyle {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: rgba(161, 91, 76, 0.48);
  line-height: 1.4;

  @media only screen and (max-width: 500px) {
    width: 80%;
  }
}
